$color_red: #CF2A45;
$color_green: #3EC4B5;
$color_black: black;
$color_white: white;
$color_background: #c2bebc4f;
$color_mygreen: #32C33A;
$color_red_date: #C44D4D;
$color_exit: #d6d6d65c;
$color_more: #848484;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$color_icon: #150F0E;
$color_header_hover: #00B4E6;
$color_black_right: #0E2735;
$color_black_center: #32302C;
$color_black_left: #024C78;