@import "color";

// start afretang
.font_text {
    font-family: 'Almarai', sans-serif;
}

.icon_hover:hover {
    color: $color_red !important;
}

.span_red {
    color: $color_red;
}

.icon_click {
    z-index: 2;
    cursor: pointer;
}

.icon_width {
    background-color: $color_green !important;
    cursor: pointer;
}

.icon_width:hover {
    background-color: $color_red !important;
}

.my_icon_width {
    width: 40px !important;
    height: 40px !important;
}

body section .number_width:hover,
.back_hover:hover {
    color: $color-white !important;
    cursor: pointer;
    background-color: $color_green !important;
}

.p_center {
    width: 25px;
    height: 25px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color_green;
}

.div_width_50 {
    width: 50%;
}

.icon_search {
    transform: translateY(-50%);
}

.form__field:focus {
    ~.form__label {
        transition: 0.2s;
        font-size: 0.7rem;
    }
}

.form__field {
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    transition: border-color 0.2s;
}

.form__label {
    top: 9px;
    transition: 0.2s;
}

.image_pisel {
    width: 100px;
}

.icon_left {
    left: -15px;
}

.p_bottom {
    margin-bottom: 200px;
}

.p_backgrpund {
    background-color: $color_red;
}

.div_hover_color:hover .p_backgrpund {
    background-color: $color_green !important;
}

.div_hover_color:hover {
    background-color: $color_exit;
}

.active_div_color {
    background-color: $color_exit;
}

.active_background {
    background-color: $color_green !important;
}

.div_hover_color:hover .div_color_hover,
.div_hover_color:hover .div_color_hover1,
.div_hover_color:hover .div_color_hover2 {
    color: $color_green !important;
}

.active_color_hover,
.active_color_hover1,
.active_color_hover2 {
    color: $color_green !important;
}

.direction {
    direction: ltr;
}

.icon_color {
    color: $color_green;
}

.icon_black {
    z-index: 1;
    background-color: $color_icon;
    height: 170px;
    padding-top: 70px;
}

.border_dotted {
    border: 3px dotted $color_background;
}

.div_left {
    background-color: #F2F2F2;
    height: 530px;
}

.div_heigt_bottom {
    height: 400px;
}

.div_image_center {
    background-color: #d6d6d65c;
}

.border_bottom_hover {
    transform: translate(0px, 3px);
}

.div_border_bottom,
.border_bottom_hover:hover {
    font-weight: bold;
    border-bottom: 3px solid $color_red;
}

.button_padding:hover {
    background-color: $color_green;
    color: $color_white;
}

.span_background::selection {
    background-color: transparent;
}

.div_vh {
    cursor: grab;
    height: 93vh;
}

.card_hover,
.card-img-top {
    transition: 0.3s;
}

.card_hover:hover {
    position: relative;
    box-shadow: 0 0 30px #ccc;
}

.card_hover:hover .card-img-top {
    transform: scale(1.1);
}

.card_hover:hover .card_title_hover {
    color: $color_green;
}

.image_back_image {
    top: 450px;
    z-index: -1;
    padding-right: 100px;
}


// end afretang
// start header
body div .div_show {
    background: -webkit-linear-gradient(180deg, rgb(239, 239, 239), rgb(250, 250, 250));
    background: linear-gradient(180deg, rgb(239, 239, 239), rgb(250, 250, 250));
    height: 170px;
}

body div .div_show nav {
    padding-bottom: 50px !important;
}

body div .div_show nav div .collapse div div .icon_hover .text_date {
    position: absolute;
    font-size: 13px;
    margin-top: 2px;
}

body div .div_show nav div .collapse div li .dropdown-toggle::after {
    transition: 0.3s;
    transform: rotate(0deg);
    position: relative;
    left: -85px;
    top: 3px;
}

body div .div_show nav div .collapse div li .rotate_100::after {
    transform: rotate(180deg);
}

body div .div_show nav div .div_respons .div_bottom {
    display: none;
    transform: translate(0px, -15px);
}

body div .div_show nav div .collapse div .image_none .image_center {
    left: 46.6%;
    z-index: 1;
}

// end header
// start header right
body div div .image_hgiht {
    width: 10px;
    height: 100%;
}

body .div_width {
    width: 95px;
}

body .div_width .div_bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.div_active,
body .div_footer .row_width .div_active {
    background-color: $color_green;
    color: $white !important;
}

body .div_width .active {
    background-color: $color_background;
    color: $color_red !important;
}

body .div_width .div_border {
    cursor: pointer;
    color: $color_black;
    border-bottom: 2px dotted $color_background;
    border-top: 2px dotted $color_background;
}

body .div_width .div_border:hover {
    background-color: $color_background;
    color: $color_red;
}

body .div_width .div_bottom .p_rights {
    font-size: 12px;
    width: 1100%;
    top: -150%;
    left: -502%;
    transform: rotate(-90deg);
}

.div_color_center {
    height: 2px;
    display: flex;
    background-color: #D6D6D6;
}

// end header right
// start main home
body div .row div div div .div_more {
    width: 7px;
    height: 7px;
    margin-top: 10px;
    background-color: $color_more;
}

body section div .row div div div div .link_hover a div div .icon_margin1,
body section div .row div div div div .link_hover a div div .icon_margin {
    margin-top: 5px;
    transition: 0.3s;
}

body section div .row div div div div .link_hover:hover .link {
    color: $color_red !important;
}

body section div .row div div div div .link_hover:hover .icon_margin1 {
    transform: translate(-5px, 0px);
}

body section div .row div div div .div_more_carous {
    width: 7px !important;
    height: 7px !important;
    top: 70px;
}

.carousel-indicators [data-bs-target] {
    opacity: 1 !important;
}

.carousel-indicators .active {
    background-color: white !important;
    border: 2px solid black !important;
}

body section div .row div .div_top {
    top: -45px;
}

// end main home
// start main image
body section .row div .carousel_height {
    height: 100%;
}

body section .row div .carousel_height .image_ehgith_100 {
    height: 100%;
}

body .translate_100 {
    transform: translate(0px, -100px);
}

// end main image
// start main application
body section .container-fluid .row div div .icon_background {
    width: 65px;
    height: 65px;
}

body section .container-fluid .row div div .hovered {
    color: $color_red;
}

.icon_background:hover {
    background-color: $color_red;
    color: $color_white !important;
}

body section .container .row div div .div_flex_width {
    width: 200px;
}

body section .container .row div div a div .span_size {
    font-size: 13px;
}

body section .container-fluid .row div div a .div_button:hover {
    background-color: $color_red !important;
}

// end main application
// start main prposals
.div_from {
    width: 40%;
}

// end main prposals
body div div .image_background {
    transform: translate(0px, -180px);
    z-index: -1;
}

body section .container .row div .div_size {
    font-size: 13px;
}

body section .container-fluid .row div form div .select_backgound {
    color: #828282;
    appearance: none;
    background-position: calc(20px - 12px) center !important;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
}

::placeholder {
    padding-bottom: 1px;
}

body section .container .row div div div textarea {
    resize: none !important;
}

body section .container-fluid .row div form div div .icon_absoute {
    border-radius: 0px 0px 0px 15px;
    bottom: 8px;
    left: 0px;
}

body section .active_color,
body .section_questions div .row .my_active {
    background-color: $color_green !important;
    color: $color-white !important;
}

body .section_questions div .row div div .icon_arraw:hover {
    color: $color_green;
    border: 2px solid $color_green !important;
}

body .section_questions div .row div div div div .div_margin {
    border: 2px solid $color_green;
    margin-top: 140px;
}

body section .number_width {
    width: 35px;
    height: 35px;
}

// start main image more
body .icon_bakcgorund {
    color: $color_exit;
    background-color: $color_exit;
}

body .icon_bakcgorund:hover {
    color: $color_white;
    background-color: $color_red;
}

.icon_arraow_hover_right,
.icon_arraow_hover_left {
    transition: 0.3s;
    width: 50px;
}

.icon_arraow_hover_left:hover {
    margin-left: -10px;
    width: 60px;
}

.icon_arraow_hover_right:hover {
    margin-right: -10px;
    width: 60px;
}

// end main image more
// start main date
body section div .row div div .p_border_bottom {
    border-bottom: 2px solid $color_green;
}

body section div div .div_hr {
    padding: 2px;
    background-color: $color_exit;
}

// end main date
// end main start
body section div .row div .text_line {
    line-height: 40px;
}

body section div div .div_heigt_table {
    height: 236px;
}

// end main president
// start main members

body section div .row div .div_left div div .p_hr {
    background-color: #F2F2F2;
    transform: translate(0px, -14px);
}

body section div .row div .div_left div .div_hr_center {
    width: 300px;
    height: 2px;
    background-color: #ccc;
}

body section div .row div .div_left div .image_border_left {
    border: 3px solid #392C23;
}

// end main members
// start main sessions
:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

body section .row div div div .button:before,
body section .row div div div .button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background-color: $color_green;
    border-radius: 50%;
    transition: transform 0.4s ease;
    transform: scale(0);
    z-index: -1;
}

body section .row div div div .button:before {
    top: -25%;
    left: 20%;
}

body section .row div div div .button:after {
    bottom: -25%;
    right: 20%;
}

body section .row div div div .button:hover:before,
body section .row div div div .button:hover:after {
    transform: none;
}

body section .row div div div .button_padding {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.3s;
}

body section .row div div div div .div_width_number {
    width: 320px;
    transition: 0.3s;
}

body section div div div div .div_width_number:hover {
    transform: translate(-20px, 0px);
}

.div_width_number1 {
    transition: 0.3s;
}

.div_width_number1:hover {
    transform: translate(-20px, 0px);
}

.custom_class_red,
.custom_class_green {
    color: $color_white !important;
}

.custom_class_red {
    background-color: $color_red;
}

.custom_class_green {
    background-color: green;
}

.custom_class_ccc {
    background-color: $color_background;
}

body section .row div .datepicker {
    width: 450px;
    margin: 50px auto;

    .ui-datepicker-inline {
        padding: 30px;
    }

    .ui-datepicker-header {
        padding-left: 110px;
        padding-right: 100px;
        padding-bottom: 1em;
        text-transform: uppercase;
        letter-spacing: .1em;

        .ui-datepicker-next::before,
        .ui-datepicker-prev::before {
            font-family: "FontAwesome";
            color: $color_green;
        }

        .ui-datepicker-next::before {
            content: "\f054";
            position: relative;
            top: 2px;
        }

        .ui-datepicker-prev::before {
            content: "\f053";
            margin-right: 40px;
        }

        .ui-datepicker-prev,
        .ui-datepicker-next {
            float: left;
            cursor: pointer;
            color: #CCC;
            text-decoration: none;
        }

        .ui-datepicker-prev span,
        .ui-datepicker-next span {
            display: none;
        }

        .ui-datepicker-next {
            float: right;
        }
    }

    .ui-datepicker-calendar {
        width: 100%;
        text-align: center;

        thead {
            color: #CCC;
        }

        tr {

            th,
            td {
                padding-bottom: .5em;
            }
        }

        a {
            color: #444;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
        }

        .ui-state-highlight {
            background-color: $color_green;
            color: $color_white;
        }
    }
}

body section .row div div div .div_circle {
    width: 15px;
    height: 15px;
}

body section .row div div div .circle_color_green {
    background-color: green;
}

body section .row div div div .circle_color_red {
    background-color: $color_red;
}

// end main sessions
// start main map 1
body section .row div .background_row,
body section .row div div .image_height {
    height: 580px;
}

body section .row div .background_row {
    background-color: $color_background;
    height: 580px;
    direction: rtl;
}

body section .row div div div div .div_respone_width {
    width: 100%;
}

body section .row div div div div .div_respone_width1 {
    width: 120%;
}

// end main map 1
// start main plan
body section .row div div li .dropdown-toggle::after {
    transition: 0.3s;
    transform: rotate(0deg);
    position: relative;
    left: -64px;
    top: 3px;
}

body section .row div div li .rotate_100::after {
    transform: rotate(180deg);
}

body section .row div .row div div div div .p_line::before {
    content: "";
    position: absolute;
    width: 2px;
    margin-top: 4px;
    height: 20px;
    margin-left: -8px;
    background-color: $color_more;
}

// end main plan
// start main structure
body section div .div_width_president {
    width: 25%;
    transition: 0.3s;
}

body section div .div_width_president:hover {
    background-color: $color_green;
}

body section .row div .row div .div_before_after2::before,
body section .row div .row div .div_before_after1::before,
body section .row div .row div .div_before_after3::before,
body section .row .div_before_after::before,
body section div .div_width_president::after,
body section .row .div_start_before::before,
body section .row .div_end_before::after {
    content: "";
    position: absolute;
    background-color: #D6D6D6;
}

body section div .div_width_president::after {
    transform: translate(-60px, 44px);
    width: 2px;
    height: 340px;
}

body section .row .div_start_before::before {
    transform: translate(-13px, 11px);
    width: 15px;
    height: 2px;
}

body section .row .div_end_before::after {
    transform: translate(0px, 11px);
    width: 15px;
    height: 2px;
}

body section .row .div_before_after::before {
    width: 2px;
    height: 140px;
}

body section .row div .row div .div_before_after1::before {
    width: 2px;
    height: 144px;
}

body section .row div .row div .div_before_after2::before {
    width: 2px;
    height: 175px;
}

body section .row div .row div .div_before_after3::before {
    width: 2px;
    height: 177px;
}

body div .div_center_none {
    z-index: 1;
    transform: translate(-50%, 70%);
}

body .div_px {
    height: 900px;
}

// end main structure
// start main account
body .section_maring {
    margin-top: 120px;
    padding-bottom: 120px;
}

.image_index,
body .section_maring .container .row .div_index {
    z-index: -1;
}

body .section_maring .image_index {
    width: 93%;
    margin-top: -50px;
}

body .section_maring .container .row div .div_visible {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

// end main account
// start main map 2
body .section_bottom {
    margin-top: -72px;
    padding-right: 13px !important;
}

body .section_bottom .row div div .message_top {
    margin-top: -100px;
    width: 58%;
    display: flex;
}

body .section_bottom .row div div div li .my_rotate_100::after {
    transform: rotate(180deg) !important;
}

body .section_bottom .row div div div li .my_circl::after {
    transition: 0.3s;
    transform: rotate(0deg);
    position: relative;
    left: -170px;
    top: 3px;
}

body section .row .background_row_accompaying {
    background-color: #E6E6E6;
}

body section .row div .div .div_color_hover2 {
    color: #707070;
}

body section .row div .container_image_center {
    width: 65% !important;
    height: 67%;
    margin-bottom: 9%;
    direction: rtl;
}

body section .row div div .overflow_height {
    height: 95%;
}

// end main map 2
// start main centers

body section .row .card .div_bottom_30 {
    margin-bottom: -30px;
}

body section .row .card:hover .text_hover {
    color: $color_green;
}

body section .row .card .div_bottom_30 div .icon_back .span_left {
    transition: 0.3s;
}

body section .row .card:hover .span_left {
    transform: translate(-3px, 0px);
    animation: keymargin 0.5s infinite;

}

@keyframes keymargin {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-3px, 0px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

body section .row .card .div_translate {
    transform: translate(0px, -50px);
}

body section .row .card div div .icon_back {
    background-color: #F3F2F2;
}

// end main centers
// start page centers
body section .nav_top {
    margin-top: -71px;
}

body section .navbar div div div ul .router_bottom4:hover,
body section .navbar div div div ul .router_bottom3:hover,
body section .navbar div div div ul .router_bottom2:hover,
body section .navbar div div div ul .router_bottom:hover,
body section .navbar div div div ul .router_bottom1:hover {
    margin-bottom: -3px;
    font-weight: bold;
}

body section .navbar div div div ul .router_bottom:hover {
    border-bottom: 3px solid $color_header_hover;
    color: $color_header_hover !important;
}

body section .navbar div div div ul .router_bottom1:hover {
    color: gold !important;
    border-bottom: 3px solid gold;
}

body section .navbar div div div ul .router_bottom2:hover {
    color: $color_red !important;
    border-bottom: 3px solid $color_red;
}

body section .navbar div div div ul .router_bottom3:hover {
    color: #79C256 !important;
    border-bottom: 3px solid #79C256;
}

body section .navbar div div div ul .router_bottom4:hover {
    color: #FAA74A !important;
    border-bottom: 3px solid #FAA74A;
}

body section .navbar div div div ul .active_router_bottom4,
body section .navbar div div div ul .active_router_bottom3,
body section .navbar div div div ul .active_router_bottom2,
body section .navbar div div div ul .active_router_bottom1,
body section .navbar div div div ul .active_router_bottom {
    margin-bottom: -3px;
    font-weight: bold;
}

body section .navbar div div div ul .active_router_bottom {
    border-bottom: 3px solid $color_header_hover;
    color: $color_header_hover !important;
}

body section .navbar div div div ul .active_router_bottom1 {
    border-bottom: 3px solid gold;
    color: gold !important;
}

body section .navbar div div div ul .active_router_bottom2 {
    border-bottom: 3px solid $color_red;
    color: $color_red !important;
}

body section .navbar div div div ul .active_router_bottom3 {
    border-bottom: 3px solid #79C256;
    color: #79C256 !important;
}

body section .navbar div div div ul .active_router_bottom4 {
    border-bottom: 3px solid #FAA74A;
    color: #FAA74A !important;
}

body section div .carousel_height {
    height: 50vh;
}

body section div div div .icon_color_clirc {
    color: $color_header_hover;
}

body section div div div .icon_color_clirc1 {
    color: gold;
}

body section div div div .icon_color_clirc2 {
    color: $color_red;
}

body section div div div .icon_color_clirc3 {
    color: #79C256;
}

body section div div div .icon_color_clirc4 {
    color: #FAA74A;
}

body section div .row div .div_color_col {
    background-color: #F2F2F2;
}

// end page centers
// start main place
body section .row div .image_map {
    margin-left: 150px;
    margin-top: -30px;
}

body section .row div .image_75 {
    width: 75%;
}

// end main place
// start main bilogy
body .image_background_biology {
    transform: translate(0px, -280px);
    z-index: -1;
}

// end main bilogy
// start main museum
body section .row .div_translate_170 {
    margin-top: -150px;
}

body section .row div .card_hover div .image_text {
    top: 84%;
    left: 41%;
}

// end main museum
// start footer
body .div_footer,
body .div_footer .row_width .p_border,
body .div_footer .row_width .back_hover {
    height: 80px;
}

body .div_footer {
    border: 1px solid #D6D6D6;
    border-left: 0px;
    border-right: 0px;
}

body .div_footer .row_width .p_border {
    transform: translate(13px, -65px);
    border-right: 1px solid #ccc;
}

body .div_footer .row_width {
    width: 100.7%;
}

// end footer
// start media
@media (min-width: 1900px) {

    body section div .row div div div div .link_hover {
        height: 19.6vh;
    }

    body section div div .row .col_hover::before {
        content: "";
        position: absolute;
        transform: translate(35px, 58px);
        background-color: $color_red;
        padding: 8px;
        border-radius: 50%;
        outline: 3px solid $color_white;
    }

    body section div div .row .col_hover::after {
        content: "";
        position: absolute;
        transform: translate(39.8px, 22.5px);
        width: 5px;
        height: 5px;
        background-color: $color_white;
        padding: 3px;
        border-radius: 50%;
    }

    body section div .row div div .col_hover1::before,
    body section div .row div div .col_hover1::after,
    body section div .row div .div_line1::before {
        content: "";
        position: absolute;
    }

    body section div div .row .col_hover .div_line {
        background-color: $color_green;
        width: 2.5px;
        transform: translate(42px, 25px);
        z-index: -1;
        height: 78px;
    }

    body section div .row div div .col_hover1::before {
        transform: translate(29px, 27px);
        background-color: $color_red;
        padding: 8px;
        border-radius: 50%;
        outline: 3px solid $color_white;
    }

    body section div .row div div .col_hover1::after {
        transform: translate(34px, -32px);
        width: 5px;
        height: 5px;
        background-color: $color_white;
        padding: 3px;
        border-radius: 50%;
    }

    body section div .row div div div .div_line1::before {
        margin-top: 35px;
        background-color: $color_green;
        width: 70px;
        z-index: -1;
        height: 2.5px;
    }
}

@media (max-width: 1490px) {
    .flex_row {
        flex-direction: column;
    }

    .row_width {
        width: 100.9%;
    }
}

@media (max-width: 990px) {

    .div_from,
    body section .container .row div div .div_flex_width,
    body div .div_show nav div .div_respons,
    .div_mia {
        width: 100% !important;
    }

    body div .div_show nav div .div_respons .div_bottom {
        display: block;
    }

    body section .row div .row div .div_before_after3::before,
    body section .row div .row div .div_before_after2::before,
    body section .row div .row div .div_before_after1::before,
    body section .row .div_before_after::before,
    body section .row .div_start_before::before,
    body section .row .div_end_before::after,
    .image_none {
        display: none !important;
    }

    body div .div_show nav div .collapse div div .icon_hover .text_date {
        position: relative;
    }

    body div .div_show nav {
        z-index: 2;
        background-color: white;
    }

    body .div_width {
        width: 70px;
    }

    body section div .row div .div_top {
        top: -25px;
    }

    body section div .row div div div .div_more_carous {
        top: 45px;
    }

    body .section_maring .container .row div div div .icon_width {
        width: 80px;
    }

    body .section_maring {
        margin-top: 100px;
    }

    .row_width {
        width: 102%;
    }

    body section .container-fluid .row div .image_respons {
        margin-top: 10px;
    }

    body div .div_show nav {
        padding-bottom: 10px !important;
    }

    body .section_questions div .row div div div div .div_margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    body section div div .div_heigt_table {
        height: 267px;
    }

    body section div .row div .div_left div .div_hr_center {
        width: 100%;
    }

    body section .row div div div div .div_width_number {
        width: 100%;
    }

    body section .row div div div div .div_width_number:hover {
        transform: translate(0px, 0px);
    }

    body section .row div div div div .div_respone_width1,
    body section .row div div div div .div_respone_width {
        width: 50px !important;
    }

    body section div .div_width_president::after,
    body .div_px {
        height: 1870px;
    }

    body section .div_margin_padding {
        padding-top: 155px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .p_bottom {
        margin-bottom: 20px;
    }

    body .section_bottom {
        margin-top: 0px;
    }

    body section .row .card .div_bottom_30 .div_translate .image_repons {
        width: 50px;
    }

    body section .nav_top {
        margin-top: 10px;
    }

    body section .row .div_translate_170 {
        transform: translate(0, 0px);
    }

    body section .row div .card_hover div .image_text {
        left: 55%;
    }
}

@media (max-width: 475px) {

    body .div_footer,
    body .div_footer .row_width .p_border,
    body .div_footer .row_width .back_hover {
        height: auto !important;
    }

    .image_respons {
        width: 100%;
    }

    body section div .row div div .p_border_bottom {
        border-bottom: 0px solid $color_green;
    }

    body section div div .div_heigt_table {
        height: 290px;
    }

    body section div .row div .div_left {
        height: 350px;
    }

    body section .row div .datepicker {
        overflow-x: auto !important;
        white-space: nowrap !important;
        text-align: center;
        width: auto !important;
        display: flex;
    }

    .ui-datepicker-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ui-datepicker-prev::before {
        margin-right: 0px !important;
    }
}

@media (max-width: 202px) {

    body div .div_show nav div .div_respons {
        flex-direction: column;
    }

    body section div div .div_heigt_table {
        height: 370px;
    }
}

// end media