@import "color";

// start afretang

.font_text {
    font-family: 'Almarai', sans-serif;
}

.icon_hover:hover {
    color: $color_red !important;
}

.span_red {
    color: $color_red;
}

.icon_click {
    cursor: pointer;
}

.icon_width {
    background-color: $color_green;
    cursor: pointer;
}

.icon_width:hover {
    background-color: $color_red;
}

.my_icon_width {
    width: 40px !important;
    height: 40px !important;
}

body section .number_width:hover,
.back_hover:hover {
    color: $color-white !important;
    cursor: pointer;
    background-color: $color_green !important;
}

.p_center {
    width: 25px;
    height: 25px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color_green;
}

.div_width_50 {
    width: 50%;
}

.icon_search {
    transform: translateY(-50%);
}

.form__field:focus {
    ~.form__label {
        transition: 0.2s;
        font-size: 0.7rem;
    }
}

.form__field {
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    transition: border-color 0.2s;
}

.form__label {
    top: 9px;
    transition: 0.2s;
}

.image_pisel {
    width: 100px;
}

// end afretang

// start header
body div .div_show {
    background: -webkit-linear-gradient(180deg, rgb(239, 239, 239), rgb(250, 250, 250));
    background: linear-gradient(180deg, rgb(239, 239, 239), rgb(250, 250, 250));
    height: 170px;
}

body div .div_show nav {
    padding-bottom: 50px !important;
}

body div .div_show nav div .collapse div div .icon_hover .text_date {
    position: absolute;
    font-size: 13px;
    margin-top: 2px;
}

body div .div_show nav div .collapse div li .dropdown-toggle::after {
    transition: 0.3s;
    transform: rotate(0deg);
    position: relative;
    left: -85px;
    top: 3px;
}

body div .div_show nav div .collapse div li .rotate_100::after {
    transform: rotate(180deg);
}

body div .div_show nav div .div_respons .div_bottom {
    display: none;
    transform: translate(0px, -15px);
}

body div .div_show nav div .collapse div .image_none .image_center {
    left: 46.6%;
}

// end header

// start header right

body div div .image_hgiht {
    width: 10px;
    height: 100%;
}

body .div_width {
    width: 95px;
}

body .div_width .div_bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.div_active,
body .div_footer .row_width .div_active {
    background-color: $color_green;
    color: $white !important;
}

body .div_width .active {
    background-color: $color_background;
    color: $color_red !important;
}

body .div_width .div_border {
    cursor: pointer;
    color: $color_black;
    border-bottom: 2px dotted $color_background;
    border-top: 2px dotted $color_background;
}

body .div_width .div_border:hover {
    background-color: $color_background;
    color: $color_red;
}

.icon_color {
    color: $color_green;
}

body .div_width .div_bottom .p_rights {
    font-size: 12px;
    width: 1100%;
    top: -150%;
    left: -502%;
    transform: rotate(-90deg);
}

// end header right
// start main
body div .row div div div .div_more {
    width: 7px;
    height: 7px;
    margin-top: 10px;
    background-color: $color_more;
}

body section div .row div div div div .link_hover a div div .icon_margin1,
body section div .row div div div div .link_hover a div div .icon_margin {
    margin-top: 5px;
    transition: 0.3s;
}

body section div .row div div div div .link_hover:hover .link {
    color: $color_red !important;
}

body section div .row div div div div .link_hover:hover .icon_margin1 {
    transform: translate(-5px, 0px);
}

body section div .row div div div .div_more_carous {
    width: 7px !important;
    height: 7px !important;
    top: 70px;
}

.carousel-indicators [data-bs-target] {
    opacity: 1 !important;
}

.carousel-indicators .active {
    background-color: white !important;
    border: 2px solid black !important;
}

body section div .row div .div_top {
    top: -45px;
}

body section .container-fluid .row div div .icon_background {
    width: 65px;
    height: 65px;
}

body section .container-fluid .row div div .hovered {
    color: $color_red;
}

.icon_background:hover {
    background-color: $color_red;
    color: $color_white !important;
}

body section .container .row div div .div_flex_width {
    width: 200px;
}

body section .container .row div div a div .span_size {
    font-size: 13px;
}

body section .container-fluid .row div div a .div_button:hover {
    background-color: $color_red !important;
}

.div_from {
    width: 40%;
}

body div div .image_background {
    transform: translate(0px, -180px);
    z-index: -1;
}

body section .container .row div .div_size {
    font-size: 13px;
}

body section .container-fluid .row div form div .select_backgound {
    color: #828282;
    appearance: none;
    background-position: calc(20px - 12px) center !important;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
}

::placeholder {
    padding-bottom: 1px;
}

body section .container .row div div div textarea {
    resize: none !important;
}

body section .container-fluid .row div form div div .icon_absoute {
    border-radius: 0px 0px 0px 15px;
    bottom: 8px;
    left: 0px;
}

body section .active_color,
body .section_questions div .row .my_active {
    background-color: $color_green !important;
    color: $color-white !important;
}

body .section_questions div .row div div .icon_arraw:hover {
    color: $color_green;
    border: 2px solid $color_green !important;
}

body .section_questions div .row div div div div .div_margin {
    border: 2px solid $color_green;
    margin-top: 140px;
}

body section .number_width {
    width: 35px;
    height: 35px;
}

body .font_text .row div div div div .icon_black {
    z-index: 1;
    background-color: $color_icon;
    height: 170px;
    padding-top: 70px;
}

body .icon_bakcgorund {
    color: $color_exit;
    background-color: $color_exit;
}

body .icon_bakcgorund:hover {
    color: $color_white;
    background-color: $color_red;
}

body section .div_image_center {
    background-color: #d6d6d65c;
}

.icon_arraow_hover_right,
.icon_arraow_hover_left {
    transition: 0.3s;
    width: 50px;
}

.icon_arraow_hover_left:hover {
    margin-left: -10px;
    width: 60px;
}

.icon_arraow_hover_right:hover {
    margin-right: -10px;
    width: 60px;
}

body section div div .border_bottom_hover {
    transform: translate(0px, 3px);
}

.div_border_bottom,
body section div div .border_bottom_hover:hover {
    font-weight: bold;
    border-bottom: 3px solid $color_red;
}

body section div .p_bottom {
    margin-bottom: 200px;
}

body section div .row div div .p_border_bottom {
    border-bottom: 2px solid $color_green;
}

body section div div .div_hr {
    padding: 2px;
    background-color: $color_exit;
}

body section div .row div .text_line {
    line-height: 40px;
}

body section div .row div .div_heigt_bottom {
    height: 400px;
}

body section div div .div_heigt_table {
    height: 236px;
}

body section div .row div .div_left {
    background-color: #F2F2F2;
    height: 530px;
}

body section div .row div .div_left div div .p_hr {
    background-color: #F2F2F2;
    transform: translate(0px, -14px);
}

body section div .row div .div_left div .div_hr_center {
    width: 300px;
    height: 2px;
    background-color: #ccc;
}

body section div .row div .div_left div .image_border_left {
    border: 3px solid #392C23;
}

:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

body section .row div div div .button:before,
body section .row div div div .button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background-color: $color_green;
    border-radius: 50%;
    transition: transform 0.4s ease;
    transform: scale(0);
    z-index: -1;
}

body section .row div div div .button:before {
    top: -25%;
    left: 20%;
}

body section .row div div div .button:after {
    bottom: -25%;
    right: 20%;
}

body section .row div div div .button:hover:before,
body section .row div div div .button:hover:after {
    transform: none;
}

body section .row div div div .button_padding {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.3s;
}

body section .row div div div .button_padding:hover {
    background-color: $color_green;
    color: $color_white;
}

body section .row div div div div .div_width_number {
    width: 320px;
    transition: 0.3s;
}

body section .row div div div div .div_width_number:hover {
    transform: translate(-20px, 0px);
}

.custom_class_red,
.custom_class_green {
    color: $color_white !important;
}

.custom_class_red {
    background-color: $color_red;
}

.custom_class_green {
    background-color: green;
}

.custom_class_ccc {
    background-color: $color_background;
}

body section .row div .datepicker {
    width: 450px;
    margin: 50px auto;

    .ui-datepicker-inline {
        padding: 30px;
    }

    .ui-datepicker-header {
        padding-left: 110px;
        padding-right: 100px;
        padding-bottom: 1em;
        text-transform: uppercase;
        letter-spacing: .1em;

        .ui-datepicker-next::before,
        .ui-datepicker-prev::before {
            font-family: "FontAwesome";
            color: $color_green;
        }

        .ui-datepicker-next::before {
            content: "\f054";
            position: relative;
            top: 2px;
        }

        .ui-datepicker-prev::before {
            content: "\f053";
            margin-right: 40px;
        }

        .ui-datepicker-prev,
        .ui-datepicker-next {
            float: left;
            cursor: pointer;
            color: #CCC;
            text-decoration: none;
        }

        .ui-datepicker-prev span,
        .ui-datepicker-next span {
            display: none;
        }

        .ui-datepicker-next {
            float: right;
        }
    }

    .ui-datepicker-calendar {
        width: 100%;
        text-align: center;

        thead {
            color: #CCC;
        }

        tr {

            th,
            td {
                padding-bottom: .5em;
            }
        }

        a {
            color: #444;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
        }

        .ui-state-highlight {
            background-color: $color_green;
            color: $color_white;
        }
    }
}

body section .row div div div .div_circle {
    width: 15px;
    height: 15px;
}

body section .row div div div .circle_color_green {
    background-color: green;
}

body section .row div div div .circle_color_red {
    background-color: $color_red;
}

body section .row div .background_row {
    background-color: $color_background;
}

body section .row div .background_row .div_hover_color div .p_backgrpund {
    background-color: $color_red;
}

body section .row div .background_row .div_hover_color:hover .div_color_hover,
body section .row div .background_row .div_hover_color:hover .div_color_hover1 {
    color: $color_green !important;
}

body section .row div .background_row .div_hover_color:hover .p_backgrpund {
    background-color: $color_green !important;
}

body section .row div .background_row .div_hover_color:hover {
    background-color: $color_exit;
}

body section .row div .background_row .active_div_color {
    background-color: $color_exit;
}

body section .row div .background_row div div .active_color_hover,
body section .row div .background_row div div .active_color_hover1 {
    color: $color_green !important;
}

body section .row div .background_row div div .active_background {
    background-color: $color_green !important;
}

body section .row div div .image_height {
    cursor: pointer;
    height: 67vh;
}

body section .row div div div div .div_respone_width {
    width: 100%;
}

body section .row div div div div .div_respone_width1 {
    width: 120%;
}

body section .row div div li .dropdown-toggle::after {
    transition: 0.3s;
    transform: rotate(0deg);
    position: relative;
    left: -64px;
    top: 3px;
}

body section .row div div li .rotate_100::after {
    transform: rotate(180deg);
}

body section .row div div .border_dotted {
    border: 3px dotted $color_background;
}

body section .row div .row div div div div .p_line::before {
    content: "";
    position: absolute;
    width: 2px;
    margin-top: 4px;
    height: 20px;
    margin-left: -8px;
    background-color: $color_more;
}

.div_px {
    height: 700px;
}

body section div .div_width_president {
    width: 25%;
    transition: 0.3s;
}

body section div .div_width_president:hover {
    background-color: $color_green;
}

// body section .border_before2::before,
body section div .div_width_president::after // body section div .div_width_president::before,

// body section .div_line_before::before,
// body section div .border_before::before,
// body section div .border_before1::before,
// body section div .span_betfore::before,
// body section div .border_before1::after,
// body section div div .icon_before::before 
    {
    content: "";
    position: absolute;
    background-color: #D6D6D6;
}

body section div .div_width_president::after {
    transform: translate(-60px, 44px);
    width: 2px;
    height: 290px;
}

.div_color_center {
    height: 2px;
    background-color: #D6D6D6;
}

// body section .div_line_before {
//     height: 2px;
//     padding-top: 115px;
// }

// body section .div_line_before::before {
//     margin-left: 165px;
//     margin-bottom: 50px;
//     width: 1040px;
//     height: 2px;
// }

// body section div .border_before::before {
//     transform: translate(68px, -36px);
//     width: 2px;
//     height: 20px;
// }

// body section div .border_before1::before {
//     transform: translate(114px, -36px);
//     width: 2px;
//     height: 20px;
// }

// body section div .span_betfore::before {
//     transform: translate(115px, 40px);
//     width: 3px;
//     height: 20px;
// }

// body section div .border_before1::after {
//     transform: translate(-218px, 61px);
//     width: 205px;
//     height: 2px;
// }

// body section .div_margin_padding1 {
//     padding-top: 40px;
//     margin-right: -38px;
// }

// body section div div .icon_before::before {
//     transform: translate(14px, -16px);
//     width: 2px;
//     height: 16px;
// }

// body section .border_before2::before {
//     transform: translate(39px, 65px);
//     width: 205px;
//     height: 2px;
// }

// end main

// start main account
body .section_maring {
    margin-top: 120px;
    padding-bottom: 120px;
}

body .section_maring .image_index,
body .section_maring .container .row .div_index {
    z-index: -1;
}

body .section_maring .image_index {
    width: 93%;
    margin-top: -50px;
}

body .section_maring .container .row div .div_visible {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

// end main account
// start footer

body .div_footer,
body .div_footer .row_width .p_border,
body .div_footer .row_width .back_hover {
    height: 80px;
}

body .div_footer {
    border: 1px solid #D6D6D6;
    border-left: 0px;
    border-right: 0px;
}

body .div_footer .row_width .p_border {
    transform: translate(13px, -65px);
    border-right: 1px solid #ccc;
}

body .div_footer .row_width {
    width: 100.7%;
}

// end footer
// start media

@media (min-width: 1900px) {

    body section div .row div div div div .link_hover {
        height: 19.6vh;
    }

    body section div div .row .col_hover::before {
        content: "";
        position: absolute;
        transform: translate(35px, 58px);
        background-color: $color_red;
        padding: 8px;
        border-radius: 50%;
        outline: 3px solid $color_white;
    }

    body section div div .row .col_hover::after {
        content: "";
        position: absolute;
        transform: translate(39.8px, 22.5px);
        width: 5px;
        height: 5px;
        background-color: $color_white;
        padding: 3px;
        border-radius: 50%;
    }

    body section div div .row .col_hover .div_line {
        background-color: $color_green;
        width: 2.5px;
        transform: translate(42px, 25px);
        height: 100px;
        z-index: -1;
        height: 78px;
    }
}

@media (max-width: 1490px) {
    .flex_row {
        flex-direction: column;
    }

    .row_width {
        width: 100.9%;
    }
}

@media (max-width: 990px) {

    .div_from,
    body section .container .row div div .div_flex_width,
    body div .div_show nav div .div_respons,
    .div_mia {
        width: 100% !important;
    }

    body div .div_show nav div .div_respons .div_bottom {
        display: block;
    }

    body section .border_before2::before,
    body section div div .icon_before::before,
    body section div .border_before1::after,
    body section div .span_betfore::before,
    body section div .border_before::before,
    body section div .border_before1::before,
    body section div .div_width_president::before,
    body section .div_line_before::before,
    body section div div .row .col_hover .div_line,
    body section div div .row .col_hover::after,
    body section div div .row .col_hover::before,
    .image_none {
        display: none !important;
    }

    body div .div_show nav div .collapse div div .icon_hover .text_date {
        position: relative;
    }

    body div .div_show nav {
        z-index: 2;
        background-color: white;
    }

    body .div_width {
        width: 70px;
    }

    body section div .row div .div_top {
        top: -25px;
    }

    body section div .row div div div .div_more_carous {
        top: 45px;
    }

    body .section_maring .container .row div div div .icon_width {
        width: 80px;
    }

    body .section_maring {
        margin-top: 100px;
    }

    .row_width {
        width: 102%;
    }

    body section .container-fluid .row div .image_respons {
        margin-top: 10px;
    }

    body div .div_show nav {
        padding-bottom: 10px !important;
    }

    body .section_questions div .row div div div div .div_margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    body section div div .div_heigt_table {
        height: 267px;
    }

    body section div .row div .div_left div .div_hr_center {
        width: 100%;
    }

    body section .row div div div div .div_width_number {
        width: 100%;
    }

    body section .row div div div div .div_width_number:hover {
        transform: translate(0px, 0px);
    }

    body section .row div div div div .div_respone_width1,
    body section .row div div div div .div_respone_width {
        width: 50px !important;
    }

    body section div .div_width_president::after,
    .div_px {
        height: 2200px;
    }

    body section div .div_width_president::after {
        transform: translate(-55px, 44px);
    }

    body section .div_margin_padding {
        padding-top: 155px;
        margin-left: -40px;
        margin-right: -40px;
    }
}

@media (max-width: 475px) {

    body .div_footer,
    body .div_footer .row_width .p_border,
    body .div_footer .row_width .back_hover {
        height: auto;
    }

    .image_respons {
        width: 100%;
    }

    body section div .row div div .p_border_bottom {
        border-bottom: 0px solid $color_green;
    }

    body section div .p_bottom {
        margin-bottom: 20px;
    }

    body section div div .div_heigt_table {
        height: 290px;
    }

    body section div .row div .div_left {
        height: 350px;
    }

    body section .row div .datepicker {
        overflow-x: auto !important;
        white-space: nowrap !important;
        text-align: center;
        width: auto !important;
        display: flex;
    }

    .ui-datepicker-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ui-datepicker-prev::before {
        margin-right: 0px !important;
    }
}

@media (max-width: 202px) {

    body div .div_show nav div .div_respons {
        flex-direction: column;
    }

    body section div div .div_heigt_table {
        height: 370px;
    }
}

// start media